.map {
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%);
    padding: 0px;
    margin: 0px;
}

.row {
    padding: 0px;
    margin: 0px;
    height: 65px;
    width: 975px;
}

.cell {
    position: relative;
    padding: 0px;
    width: 65px;
    height: 65px;
    display: inline-block;
    float: left;
}

.wall{
    background: url("/static/assets/wall.png") no-repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-size: cover;
}

.box {
    background: url("/static/assets/box.png") no-repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-size: cover;
}

.empty {
    background: url("/static/assets/floor.png") no-repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-size: cover;
}

.player {
    position: absolute;
    padding: 0px;
    width: 85px;
    height: 85px;
    left: 50%;
    transform: translate(-50%,-50%);
    float: left;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-size: auto;
}