{% extends 'layout.html' %}
{% block title %}Nickname{% endblock %}
{% block main %}
    <div class="box-content">
        <div class="name-box">
            <h2>Enter your nickname</h2>
            <form method="post" action="/create-nickname">
                <p class="error-message">{{ message }}</p>
                <label for="nickname"></label><br>
                <input class="name-input" name="nickname" placeholder="Nickname"><br>
                <button class="name-button" type="submit">Go!</button>
            </form>
        </div>
    </div>
{% endblock %}