<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Chess | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style/style.css") }}">
</head>
    <body>
        <header>
            <h4>Bomberman</h4>
            <nav>
                <div class="header-elem"><a href="/create-room">Create Room</a></div>
                <div class="header-elem"><a href="/list-rooms">Rooms</a></div>
                <div class="header-elem"><a href="/logout">Log Out</a></div>
            </nav>
        </header>

    {% block main %}{% endblock %}
    </body>
</html>