{% extends 'layout.html' %}
{% block title %}Room list{% endblock %}
{% block main %}
    <table class="room-list">
        <tr>
            <th>Room name</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Player 3</th>
            <th>Player 4</th>
        </tr>
    {% for room in rooms %}
        <tr class="room-row">
            <td><a href="/room/{{ room.id }}">{{ room.name }}</a></td>
            <td>{{ room["1"] }}</td>
            <td>{{ room["2"] }}</td>
            <td>{{ room["3"] }}</td>
            <td>{{ room["4"] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}